

@model TestingAppQa.Models.Project

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="DeleteConfirmed" asp-route-id="@Model.IdProject">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Volver</a>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





