@model TestingAppQa.Models.Scope

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>¿Estas Seguro de quieres borrar este alcance?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="NameModule" class="control-label">Nombre Modulo</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameModule)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Considerations" class="control-label">Consideraciones</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Considerations)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="TestGoal" class="control-label">Objetivo de la prueba</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestGoal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdScope" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista de alcances</a>
    </form>
</div>
