@model TestingAppQa.Models.UserHistory

@{
    ViewData["Title"] = "Editar";
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="modal-body">
                <input type="hidden" asp-for="IdUserHistory" />
                <label asp-for="Title" class="control-label">Titulo</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
                <label asp-for="IWant" class="control-label">Dado Que</label>
                <input asp-for="IWant" class="form-control" />
                <span asp-validation-for="IWant" class="text-danger"></span>
                <label asp-for="Where" class="control-label">Donde</label>
                <input asp-for="Where" class="form-control" />
                <span asp-validation-for="Where" class="text-danger"></span>
                <label asp-for="Then" class="control-label">Entonces</label>
                <input asp-for="Then" class="form-control" />
                <span asp-validation-for="Then" class="text-danger"></span>
            </div>
            <div class=" d-flex justify-content-between p-2 form-group">
                <div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Confirmar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}