

    <div class="content">
        <div class="d-flex justify-content-between">
            <!-- Animated -->
            <h3 class="text-secondary">Por Favor Selecciona un Ambito de Proyecto o un sprint para continuar</h3>

        </div>
        <!-- .animated -->
    </div>
    @section scripts{
    <script src="~/js/modales/modales.js"></script> }
