@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ApplicationDbContext context
<header id="header" class="header">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><img src="~/Images/logo.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">

            <div class="header-menu">

                <div class="header-left">

                    <div class="form-inline">
                        @*<form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..."
                                   aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>*@
                    </div>

                    <div class="dropdown for-notification">
                        <h3 class="text-dark font-weight-bold">
                            Proyecto Activo : @context.Project.FirstOrDefault(m => m.IdProject == @UserManager.GetUserAsync(User).Result.IdProjectActive)?.Name
                        </h3>
                    </div>

                    <div class="dropdown for-message">

                    </div>
                </div>

                <div class="user-area dropdown float-right">

                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark"> <a class="nav-link"><i class="fa fa-power -off"></i>Cerrar Sesión</a></button>
                        </form>

                </div>

            </div>
        </div>
    }
    else
    {
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><img src="~/Images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="~/Images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="dropdown for-notification">
                    <a class="nav-link text-dark" asp-area="Identity" asp-action="/Account/Register">Register</a>
                </div>

                <div class="dropdown for-notification">
                    <a class="nav-link text-dark" asp-area="Identity" asp-action="/Account/Login">Login</a>
                </div>
            </div>
        </div>
    }
</header>






